absl-py==2.4.0
accelerate==1.13.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
astunparse==1.6.3
audioread==3.1.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
contourpy==1.3.3
cycler==0.12.1
decorator==5.2.1
deepface==0.0.98
distro==1.9.0
facenet-pytorch==2.5.3
fastapi==0.128.0
fer==25.10.1
ffmpeg-python==0.2.0
filelock==3.20.3
fire==0.7.1
flask==3.1.2
flask-cors==6.0.2
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.1.0
future==1.0.0
gast==0.7.0
gdown==5.2.1
google-pasta==0.2.0
groq==0.37.1
grpcio==1.78.0
gtts==2.5.4
gunicorn==25.0.3
h11==0.16.0
h5py==3.15.1
hf-xet==1.3.2
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==1.6.0
idna==3.11
imageio==2.37.3
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
jinja2==3.1.6
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
keras==3.13.2
kiwisolver==1.5.0
langchain==1.2.8
langchain-classic==1.0.3
langchain-core==1.2.19
langchain-groq==1.1.2
langchain-text-splitters==1.1.1
langgraph==1.0.7
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.3
langsmith==0.6.8
lazy-loader==0.4
libclang==18.1.1
librosa==0.11.0
lightdsa==0.0.3
lightecc==0.0.4
lightphe==0.0.20
llvmlite==0.46.0
lz4==4.4.5
markdown==3.10.1
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
ml-dtypes==0.5.4
more-itertools==10.8.0
moviepy==0.2.3.1
mpmath==1.3.0
msgpack==1.1.2
mtcnn==1.0.0
namex==0.1.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
openai-whisper==20250625
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
opt-einsum==3.4.0
optree==0.18.0
orjson==3.11.7
ormsgpack==1.12.2
packaging==26.0
pandas==3.0.0
pillow==12.1.0
platformdirs==4.5.1
pooch==1.9.0
protobuf==6.33.5
psutil==7.2.2
psycopg2-binary==2.9.11
pwdlib==0.3.0
pyaudio==0.2.14
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pydub==0.25.1
pygments==2.19.2
pyjwt==2.11.0
pyobjc==12.1
pyobjc-core==12.1
pyobjc-framework-accessibility==12.1
pyobjc-framework-accounts==12.1
pyobjc-framework-addressbook==12.1
pyobjc-framework-adservices==12.1
pyobjc-framework-adsupport==12.1
pyobjc-framework-applescriptkit==12.1
pyobjc-framework-applescriptobjc==12.1
pyobjc-framework-applicationservices==12.1
pyobjc-framework-apptrackingtransparency==12.1
pyobjc-framework-audiovideobridging==12.1
pyobjc-framework-authenticationservices==12.1
pyobjc-framework-automaticassessmentconfiguration==12.1
pyobjc-framework-automator==12.1
pyobjc-framework-avfoundation==12.1
pyobjc-framework-avkit==12.1
pyobjc-framework-avrouting==12.1
pyobjc-framework-backgroundassets==12.1
pyobjc-framework-browserenginekit==12.1
pyobjc-framework-businesschat==12.1
pyobjc-framework-callkit==12.1
pyobjc-framework-carbon==12.1
pyobjc-framework-cfnetwork==12.1
pyobjc-framework-cinematic==12.1
pyobjc-framework-classkit==12.1
pyobjc-framework-cloudkit==12.1
pyobjc-framework-cocoa==12.1
pyobjc-framework-colorsync==12.1
pyobjc-framework-contacts==12.1
pyobjc-framework-contactsui==12.1
pyobjc-framework-coreaudio==12.1
pyobjc-framework-coreaudiokit==12.1
pyobjc-framework-corebluetooth==12.1
pyobjc-framework-coredata==12.1
pyobjc-framework-corehaptics==12.1
pyobjc-framework-corelocation==12.1
pyobjc-framework-coremedia==12.1
pyobjc-framework-coremediaio==12.1
pyobjc-framework-coremidi==12.1
pyobjc-framework-coreml==12.1
pyobjc-framework-coremotion==12.1
pyobjc-framework-coreservices==12.1
pyobjc-framework-corespotlight==12.1
pyobjc-framework-coretext==12.1
pyobjc-framework-corewlan==12.1
pyobjc-framework-cryptotokenkit==12.1
pyobjc-framework-datadetection==12.1
pyobjc-framework-devicecheck==12.1
pyobjc-framework-devicediscoveryextension==12.1
pyobjc-framework-discrecording==12.1
pyobjc-framework-discrecordingui==12.1
pyobjc-framework-diskarbitration==12.1
pyobjc-framework-dvdplayback==12.1
pyobjc-framework-eventkit==12.1
pyobjc-framework-exceptionhandling==12.1
pyobjc-framework-executionpolicy==12.1
pyobjc-framework-extensionkit==12.1
pyobjc-framework-externalaccessory==12.1
pyobjc-framework-fileprovider==12.1
pyobjc-framework-fileproviderui==12.1
pyobjc-framework-findersync==12.1
pyobjc-framework-fsevents==12.1
pyobjc-framework-fskit==12.1
pyobjc-framework-gamecenter==12.1
pyobjc-framework-gamecontroller==12.1
pyobjc-framework-gamekit==12.1
pyobjc-framework-gameplaykit==12.1
pyobjc-framework-healthkit==12.1
pyobjc-framework-imagecapturecore==12.1
pyobjc-framework-installerplugins==12.1
pyobjc-framework-intents==12.1
pyobjc-framework-intentsui==12.1
pyobjc-framework-iobluetooth==12.1
pyobjc-framework-iobluetoothui==12.1
pyobjc-framework-iosurface==12.1
pyobjc-framework-ituneslibrary==12.1
pyobjc-framework-kernelmanagement==12.1
pyobjc-framework-latentsemanticmapping==12.1
pyobjc-framework-launchservices==12.1
pyobjc-framework-libdispatch==12.1
pyobjc-framework-libxpc==12.1
pyobjc-framework-linkpresentation==12.1
pyobjc-framework-localauthentication==12.1
pyobjc-framework-localauthenticationembeddedui==12.1
pyobjc-framework-mailkit==12.1
pyobjc-framework-mapkit==12.1
pyobjc-framework-mediaaccessibility==12.1
pyobjc-framework-mediaextension==12.1
pyobjc-framework-medialibrary==12.1
pyobjc-framework-mediaplayer==12.1
pyobjc-framework-mediatoolbox==12.1
pyobjc-framework-metal==12.1
pyobjc-framework-metalfx==12.1
pyobjc-framework-metalkit==12.1
pyobjc-framework-metalperformanceshaders==12.1
pyobjc-framework-metalperformanceshadersgraph==12.1
pyobjc-framework-metrickit==12.1
pyobjc-framework-mlcompute==12.1
pyobjc-framework-modelio==12.1
pyobjc-framework-multipeerconnectivity==12.1
pyobjc-framework-naturallanguage==12.1
pyobjc-framework-netfs==12.1
pyobjc-framework-network==12.1
pyobjc-framework-networkextension==12.1
pyobjc-framework-notificationcenter==12.1
pyobjc-framework-opendirectory==12.1
pyobjc-framework-osakit==12.1
pyobjc-framework-oslog==12.1
pyobjc-framework-passkit==12.1
pyobjc-framework-pencilkit==12.1
pyobjc-framework-phase==12.1
pyobjc-framework-photos==12.1
pyobjc-framework-photosui==12.1
pyobjc-framework-preferencepanes==12.1
pyobjc-framework-pushkit==12.1
pyobjc-framework-quartz==12.1
pyobjc-framework-quicklookthumbnailing==12.1
pyobjc-framework-replaykit==12.1
pyobjc-framework-safariservices==12.1
pyobjc-framework-safetykit==12.1
pyobjc-framework-scenekit==12.1
pyobjc-framework-screencapturekit==12.1
pyobjc-framework-screensaver==12.1
pyobjc-framework-screentime==12.1
pyobjc-framework-searchkit==12.1
pyobjc-framework-security==12.1
pyobjc-framework-securityfoundation==12.1
pyobjc-framework-securityinterface==12.1
pyobjc-framework-securityui==12.1
pyobjc-framework-sensitivecontentanalysis==12.1
pyobjc-framework-servicemanagement==12.1
pyobjc-framework-sharedwithyou==12.1
pyobjc-framework-sharedwithyoucore==12.1
pyobjc-framework-shazamkit==12.1
pyobjc-framework-social==12.1
pyobjc-framework-soundanalysis==12.1
pyobjc-framework-speech==12.1
pyobjc-framework-spritekit==12.1
pyobjc-framework-storekit==12.1
pyobjc-framework-symbols==12.1
pyobjc-framework-syncservices==12.1
pyobjc-framework-systemconfiguration==12.1
pyobjc-framework-systemextensions==12.1
pyobjc-framework-threadnetwork==12.1
pyobjc-framework-uniformtypeidentifiers==12.1
pyobjc-framework-usernotifications==12.1
pyobjc-framework-usernotificationsui==12.1
pyobjc-framework-videosubscriberaccount==12.1
pyobjc-framework-videotoolbox==12.1
pyobjc-framework-virtualization==12.1
pyobjc-framework-vision==12.1
pyobjc-framework-webkit==12.1
pyparsing==3.3.2
pysocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pyttsx3==2.99
pyyaml==6.0.3
regex==2026.1.15
requests==2.32.5
requests-toolbelt==1.0.0
retina-face==0.0.17
rich==14.3.2
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.0
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.0.0
speechrecognition==3.14.5
sqlalchemy==2.0.46
starlette==0.50.0
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
tf-keras==2.20.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
torch==2.10.0
torchaudio==2.10.0
torchvision==0.25.0
tqdm==4.67.3
transformers==5.3.0
typer==0.23.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uuid-utils==0.14.0
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
werkzeug==3.1.5
wheel==0.46.3
wrapt==2.1.1
xxhash==3.6.0
zstandard==0.25.0
