fastapi
uvicorn[standard]
gunicorn
python-multipart
python-dotenv
pydantic
sqlalchemy
psycopg2-binary
pyjwt
pwdlib[argon2]
argon2-cffi
deepface
opencv-python-headless
retina-face
tf-keras
tensorflow-cpu
torch
torchaudio
transformers
librosa
sounddevice
soundfile
pydub
groq
langchain
langchain-groq
langchain-core
langgraph
gtts
numpy
pandas
pillow
scikit-learn
scipy
requests
httpx
tqdm