fastapi
uvicorn[standard]
python-multipart
python-dotenv

sqlalchemy
psycopg2-binary

pwdlib[argon2]
pyjwt

groq
langchain
langchain-core
langchain-groq
langgraph

gtts

numpy
pydub

transformers
torch
torchaudio
accelerate
safetensors

opencv-python-headless
fer==22.4.0
tensorflow-cpu

ffmpeg-python
imageio
imageio-ffmpeg
moviepy

requests
httpx
orjson